body{
    margin: 0;
    padding: 0;
    font-family: Cordia New;
}
.container{
    max-width: 100%;
    height: 250px;
    grid-template-columns: 2fr 2fr 5fr;
    display: grid;
    background:linear-gradient(rgba(2, 2, 2, 0.01), rgba(7, 6, 6, 0.01)),
    url("/General\ Images\ &\ Icons/background.svg");
    opacity: 1;
    background-repeat: no-repeat;
    background-size:cover ;
    margin-top: -10px;
}
.container > .grid-item_grid-item-1{
    display: grid;
    grid-template-columns: 100px 200px;
    grid-template-rows: 50px 50px;
    padding:30px;
    margin-left: 60px;
}
.grid-item_grid-item-1 > .grid-item-1_grid1 > img{
    width: 70px;
    margin-top: 5px;
}
.grid-item_grid-item-1 > .grid-item-1_grid2 > .city{
    background-color: rgba(0,0,0,.5); 
    color: #fff  ;
    margin-top: 20px;
    padding: 15px 40px;
    font-size: 20px;
    font-family: Cordia New;
    border: none;
    cursor: pointer;
    text-align: left;
}
.grid-item_grid-item-1 > .grid-item-1_grid4 {
    font-size: 25px;
    color:burlywood;
    font-family: Cordia New;
}
.grid-item_grid-item-1 > .grid-item-1_grid4 > p > img{
    width: 70px;
    height: auto;
    margin-left: 10px;
}
.grid-item_grid-item-1 > .grid-item-1_grid4 > p{
    line-height: 0;
}
.container > .grid-item_grid-item-2{
    display: grid;
    margin-left: 15px;
    grid-template-columns: 100px 100px;
    grid-template-rows: 100px 100px;
    gap: 5px;
    padding: 15px;
}
.grid-item_grid-item-2 > .grid-item-2_grid1{
    font-size: 20px;
    margin-top: 35px;
    color: rgb(207, 204, 204);
    font-family: Cordia New;
    text-align: center;
    border-right: 2px solid grey;
}
.grid-item_grid-item-2 > .grid-item-2_grid1 > p{
    font-size: 28px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.grid-item_grid-item-2 > .grid-item-2_grid2{
    font-size: 20px;
    margin-top: 35px;
    color: rgb(207, 204, 204);
    font-family: Cordia New;
    text-align: center;
}
.grid-item_grid-item-2 > .grid-item-2_grid2 > p{
    font-size: 28px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.grid-item_grid-item-2 > .grid-item-2_grid3{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(207, 204, 204);
    font-family: Cordia New;
    text-align: center;
    border-right: 2px solid gray;

}
.grid-item_grid-item-2 > .grid-item-2_grid3 > p{
    font-size: 28px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.grid-item_grid-item-2 > .grid-item-2_grid4{
    font-size: 20px;
    margin-top: 15px;
    color: rgb(207, 204, 204);
    font-family: Cordia New;
    text-align: center;
}
.grid-item_grid-item-2 > .grid-item-2_grid4 > p{
    font-size: 28px;
    margin-top: 10px;
    color: #fff;
    text-align: center;
}
.container > .grid-item_grid-item-3{
    padding-top: 30px;
    line-height: 40px;
    max-width: 20px;
}
#grid-item-3_row1{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}
#grid-item-3_row1_list1, #grid-item-3_row1_list2, 
#grid-item-3_row1_list3, #grid-item-3_row1_list4{
    display: flex;
    font-size: 18px;
}
#grid-item-3_row1_list1 span{
    font-size: 15px;
    color: rgb(207, 204, 204);;
    min-width: 54px;
}
#grid-item-3_row1_list1{
    margin-left: 12px;
}
#grid-item-3_row1_list2 span{
    font-size: 15px;
    color: #fff;
    min-width: 54px;
}
#grid-item-3_row1_list2{
    margin-left: 25px;
}
#grid-item-3_row1_list2 span:nth-child(even){
    color: rgb(35, 33, 33);
}
#grid-item-3_row1_list3{
    margin-left: 10px;
}
#grid-item-3_row1_list3 span{
    font-size: 15px;
    color: #fff;
    min-width: 54px;
}
#grid-item-3_row1_list4{
    margin-left: 20px;
}
#grid-item-3_row1_list4 span{
    min-width: 108px;
    font-size: 18px;
    color: #fff;
}

.container > div{
    text-align: left;
    font-size: 30px;
}
@media screen and (min-width:600px) and  (max-width:1200px) {
    .container{
        grid-template-rows:250px 190px;
        height: 500px;
        overflow: hidden;
    }
    .grid-item_grid-item-1{
      padding: 0px;
      max-width: 300px;
    }
    .grid-item_grid-item-3{
    grid-row: 2 / 3;
    grid-column: 1 / 4;
    margin-top: -15px;
   }
}




.container1{
    max-width: 100%;
    min-height: 500px;
    margin-top: -20px;
    background-color: rgb(39, 36, 36);
    color: rgb(207, 204, 204);
    border-top-right-radius:25px;
    border-top-left-radius:25px;
    padding: 20px;
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden;
}
.container1 .grid_items{
    grid-template-columns: 55% 45%;
    display: grid;
    align-items: flex-end;
    margin-top: -25px;
}
.grid_items .grid_item1{
    display: flex;
    justify-content: flex-end;

}
.grid_items .grid_item2{
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
    height: 100%;
    margin-right: 20px;
}
.grid_item1 h4{
    font-family: Cordia New;
    color: rgb(207, 204, 204);
    font-size: 18px;
    font-weight: 100;
}
.grid_item2 img{
    width: 30px;
}
.grid_item2 #top_cities{
    margin-top: 22px;
    font-family: Cordia New;
}
.grid_item2 #top_cities_num{
    height: 16px;
    margin-top: 20px;
    color: #fff;
    background-color: rgb(88, 85, 85);

}
.grid_items_1{
    grid-template-columns: 18% 18% 18% 18% 18%;
    grid-template-rows: 230px;
    display: grid;
    column-gap:35px;
}
.grid_items_1 .grid_boxes{
    display: grid;
    min-width: 250px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 30% 70%;
    background-color: rgb(45, 46, 46);
    padding: 10px;

}
.grid_items_1 .grid_boxes .city_img{
    width: 100%;
    height:100%;
    background: url("/Icons\ for\ cities/perth.svg");
    background-size: cover;
    background-repeat: no-repeat;
}
.grid_boxes .weather{
    font-size: 35px;
    display: flex;
    flex-direction: row;
    margin-top: -25px;
    color: #fff;
}
.weather_items .weather_items_child{
    display: flex;
}
.weather_items .weather_items_child img{
    width: 30px;
}
.grid_boxes #city{
    font-size: 35px;
    margin-top: -25px;
    color: #fff;
}
.grid_boxes .weather img{
    margin-top: 25px;
    width: 30px;
}

@media screen and (min-width:600px) and  (max-width:1400px) {
.grid_items_1{
    grid-auto-flow: column;
    overflow-x: scroll;
    overflow-y: hidden; 
   }
.grid_boxes{
    width: 250px;
}
}
